In [24]:
import pandas as pd
file_path = "movies_dataset/movies.csv"
rate_df = pd.read_csv(file_path)
df = pd.read_csv("final_tag.csv")
pd.set_option('display.max_colwidth', None)

In [25]:
rate_df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [26]:
df.head()

,Unnamed: 0,movie_tag,amount_of_fan
0,0,00 Schneider - Jagd auf Nihil Baxter (1994),1
1,1,1 Per Cent | Outlaws (Australia Movie 2017),2
2,2,10 Cloverfield Lane (2016),13
3,3,10 Things I Hate About You (1999),134
4,4,The 10 Year Plan (2014),5

In [27]:
df = df.drop("Unnamed: 0",axis=1)

In [28]:
df.head()

,movie_tag,amount_of_fan
0,00 Schneider - Jagd auf Nihil Baxter (1994),1
1,1 Per Cent | Outlaws (Australia Movie 2017),2
2,10 Cloverfield Lane (2016),13
3,10 Things I Hate About You (1999),134
4,The 10 Year Plan (2014),5

In [29]:
rate_df.loc[rate_df["name"] == "Airplane!"]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0

In [30]:
import re
df["movie_tag"].replace("\([A-Za-z\s0-9]*\)","", regex=True, inplace=True)

In [49]:
df["name"].replace("\A\s*","", regex=True, inplace=True)

In [74]:
df["name"].replace("\s*\Z","", regex=True, inplace=True)

In [75]:
df.head()

                                   name  amount_of_fan
0  00 Schneider - Jagd auf Nihil Baxter              1
1                  1 Per Cent | Outlaws              2
2                   10 Cloverfield Lane             13
3            10 Things I Hate About You            134
4                      The 10 Year Plan              5

In [76]:
df = df.rename(columns ={"movie_tag":"name" })

In [77]:
df.head()

                                   name  amount_of_fan
0  00 Schneider - Jagd auf Nihil Baxter              1
1                  1 Per Cent | Outlaws              2
2                   10 Cloverfield Lane             13
3            10 Things I Hate About You            134
4                      The 10 Year Plan              5

In [78]:
new_df = df.merge(rate_df,how="left")

In [79]:
new_df.isnull().sum()

name                0
amount_of_fan       0
rating           7003
genre            6994
year             6994
released         6995
score            6994
votes            6994
director         6994
writer           6994
star             6994
country          6995
budget           7594
gross            7020
company          6995
runtime          6995
dtype: int64

In [80]:
new_df.head()

,name,amount_of_fan,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,00 Schneider - Jagd auf Nihil Baxter,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 Per Cent | Outlaws,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10 Cloverfield Lane,13,PG-13,Action,2016.0,"March 11, 2016 (United States)",7.2,300000.0,Dan Trachtenberg,Josh Campbell,John Goodman,United States,15000000.0,110216998.0,Paramount Pictures,103.0
3,10 Things I Hate About You,134,PG-13,Comedy,1999.0,"March 31, 1999 (United States)",7.3,309000.0,Gil Junger,Karen McCullah,Heath Ledger,United States,30000000.0,53478579.0,Touchstone Pictures,97.0
4,The 10 Year Plan,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
rate_df.loc[rate_df["name"] == "10 Things I Hate About You"]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
3452,10 Things I Hate About You,PG-13,Comedy,1999,"March 31, 1999 (United States)",7.3,309000.0,Gil Junger,Karen McCullah,Heath Ledger,United States,30000000.0,53478579.0,Touchstone Pictures,97.0

In [82]:
df.loc[df["name"] == "1 Per Cent | Outlaws"]

                   name  amount_of_fan
1  1 Per Cent | Outlaws              2

In [91]:
df["name"].iloc[1]

'1 Per Cent | Outlaws'

In [84]:
df["name"]

0                        00 Schneider - Jagd auf Nihil Baxter
1                                        1 Per Cent | Outlaws
2                                         10 Cloverfield Lane
3                                  10 Things I Hate About You
4                                            The 10 Year Plan
                                 ...
10241        新蜀山劍俠 | Zu: The Warriors from the Magic Mountain
10242                                 最佳团伙 | Zuì Jiā Tuán Huǒ
10243                                                    Zulu
10244                                              Zuma Beach
10245    Zwischen Sommer und Herbst | Between Summer and Fall
Name: name, Length: 10246, dtype: object

Empty DataFrame
Columns: [name, rating, genre, year, released, score, votes, director, writer, star, country, budget, gross, company, runtime]
Index: []

In [88]:
new_df.dropna(inplace=True)

In [89]:
new_df

,name,amount_of_fan,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
2,10 Cloverfield Lane,13,PG-13,Action,2016.0,"March 11, 2016 (United States)",7.2,300000.0,Dan Trachtenberg,Josh Campbell,John Goodman,United States,15000000.0,1.102170e+08,Paramount Pictures,103.0
3,10 Things I Hate About You,134,PG-13,Comedy,1999.0,"March 31, 1999 (United States)",7.3,309000.0,Gil Junger,Karen McCullah,Heath Ledger,United States,30000000.0,5.347858e+07,Touchstone Pictures,97.0
13,101 Dalmatians,52,G,Adventure,1996.0,"November 27, 1996 (United States)",5.7,105000.0,Stephen Herek,Dodie Smith,Glenn Close,United States,75000000.0,3.206893e+08,Walt Disney Pictures,103.0
14,101 Dalmatians,172,G,Adventure,1996.0,"November 27, 1996 (United States)",5.7,105000.0,Stephen Herek,Dodie Smith,Glenn Close,United States,75000000.0,3.206893e+08,Walt Disney Pictures,103.0
18,12 Monkeys,6,R,Mystery,1995.0,"January 5, 1996 (United States)",8.0,589000.0,Terry Gilliam,Chris Marker,Bruce Willis,United States,29000001.0,1.688395e+08,Universal Pictures,129.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10412,Zodiac,56,R,Crime,2007.0,"March 2, 2007 (United States)",7.7,486000.0,David Fincher,James Vanderbilt,Jake Gyllenhaal,United States,65000000.0,8.478591e+07,Paramount Pictures,157.0
10419,Zombieland,214,R,Adventure,2009.0,"October 2, 2009 (United States)",7.6,534000.0,Ruben Fleischer,Rhett Reese,Jesse Eisenberg,United States,23600000.0,1.023921e+08,Columbia Pictures,88.0
10423,Zoolander,32,PG-13,Comedy,2001.0,"September 28, 2001 (United States)",6.5,251000.0,Ben Stiller,Drake Sather,Ben Stiller,Germany,28000000.0,6.078098e+07,Paramount Pictures,90.0
10424,Zoom,19,PG,Action,2006.0,"August 11, 2006 (United States)",4.4,19000.0,Peter Hewitt,Adam Rifkin,Tim Allen,United States,35000000.0,1.250636e+07,Revolution Studios,83.0
10425,Zootopia,4600,PG,Animation,2016.0,"March 4, 2016 (United States)",8.0,450000.0,Byron Howard,Byron Howard,Ginnifer Goodwin,United States,150000000.0,1.024121e+09,Walt Disney Pictures,108.0

In [90]:
df.head()

                                   name  amount_of_fan
0  00 Schneider - Jagd auf Nihil Baxter              1
1                  1 Per Cent | Outlaws              2
2                   10 Cloverfield Lane             13
3            10 Things I Hate About You            134
4                      The 10 Year Plan              5

In [92]:
df.to_csv("fina_tag2.csv")